[2012-01-18 15:44] prabirshrestha opened #1 "support for medium trust even when SIMPLE_JSON_REFLECTIONEMIT is defined"

[2012-02-06 21:04] ntotten opened #2 "support JsonEncode for DBNull"
object value = DBNull.Value;
Assert.AreEqual("null", SimpleJson.JsonEncode(value));

[2012-02-06 21:05] ntotten opened #3 "Support deserializing Exceptions"
support for deserializing Exceptions

[2012-02-06 23:30] prabirshrestha opened #4 "create tags"

[2012-02-15 15:40] prabirshrestha commented on #4
https://github.com/facebook-csharp-sdk/simple-json/tags

[2012-02-15 15:40] #4 closed, assigned to prabirshrestha

[2012-02-18 17:52] prabirshrestha opened #5 "hide JsonObject and JsonArray from intellisense"

[2012-02-18 18:11] prabirshrestha opened #6 "use $rootnamspace' instead of SimpleJson"

[2012-02-18 18:31] #5 closed, assigned to prabirshrestha

[2012-02-18 18:32] prabirshrestha commented on #6
fixed in 28b369965a2083d5b5d1fa54508979131884684c

[2012-02-18 18:32] #6 closed, assigned to prabirshrestha

[2012-02-28 02:39] InsidiousForce opened #7 "large long/int64 value being sent serialized incorrectly"
I'm building up an ad posting, which has an object_id in it. If I serialize the structure with newtonsoft's serializer, I get:

{"campaign_id":6003891916512,"name":"test","status":1,"bid_type":1,"max_bid":150,"targeting":{"countries":["FR","DE","NL"],"radius":10,"age_min":21,"age_max":35,"broad_age":0,"genders":[1,2],"education_statuses":[0],"keywords":["Instyle Magazine"]},"creative":{"body":"la

[2012-02-28 16:21] InsidiousForce commented on #7
line 1040/1041 of SimpleJson.cs

[code]

that needs to deal with longs and not convert to doubles if they're longs. can someone fix?

[2012-03-01 19:17] prabirshrestha commented on #7
fixed in v0.12

[2012-03-01 20:07] InsidiousForce commented on #7
a double has 15-16 digits of precision per http://msdn.microsoft.com/en-us/library/678hzkk9(v=vs.71).aspx

a long can be up to 20 digits per http://msdn.microsoft.com/en-us/library/ctetwysk(v=vs.71).aspx

Therefore I believe this has not fixed the problem. I can't test, but I believe you will start seeing errors with lack of precision on larger longs.

[2012-03-01 20:36] prabirshrestha commented on #7
You could try sending a pull request too.

i think we will need to change

[code]

to

[code]

so we can parse correctly depending on long or double.

[2012-03-03 00:51] InsidiousForce commented on #7
integer data should never enter the realm of floating point. decimal in this case should also not be converted to double. if you're dealing with money you're in for a world of hurt.

http://docs.oracle.com/cd/E19957-01/806-3568/ncg_goldberg.html

here's a paper on why that is, but straight up, integer and decimal data shouldn't be converted to double precision floats at all. decimal should be used

[2012-03-03 14:41] prabirshrestha commented on #7
in JSON everything is a number, there is no decimal/dobule/long/int.

So if the number contains . we should use decimal and if it doesn't use long?

[2012-03-05 00:17] prabirshrestha opened #9 "win8 ctp and vs11 beta support"

[2012-03-05 00:21] #9 closed, assigned to prabirshrestha

[2012-03-05 18:32] prabirshrestha commented on #7
so now it doesn't convert everything to double.
If it is long it will use long, if decimal will use decimal if double it will use double.

[2012-03-05 18:54] InsidiousForce commented on #7
sounds good. regarding your information above with deserializing (wouldn't be relevant to serializing), I would say yes, if it has a . then it's a decimal otherwise a long and force the consumer to cast to something with less precision or size if they like.

i'm not sure how, say, json.net handles this, I know all their integers are longs, not sure about decimals and what they do with that because

[2012-03-05 19:44] prabirshrestha commented on #7
We currently use either long or double. (as for decimal it will have to be another another issue. This would be a breaking change. For now I will leave it as double. You can start a new issue about this with reasons.)

https://github.com/facebook-csharp-sdk/simple-json/blob/03a67d66e190b626a62cb9accb1b77fa3a4b5dd7/src/SimpleJson/SimpleJson.cs#L892-916

[2012-03-06 16:02] prabirshrestha opened #11 "support for Nullable types"

[2012-03-13 18:19] ntotten opened #12 "Update copyright to outercurve."

[2012-03-13 18:24] #12 closed, assigned to nobody

[2012-03-16 14:14] prabirshrestha opened #13 "support for Deserializing ISO8601 formatted string to DateTime"

[2012-03-16 15:57] #13 closed, assigned to nobody

[2012-03-16 18:43] #11 closed, assigned to prabirshrestha

[2012-04-04 09:37] danielwertheim opened #15 "Deserialize Enums"
Tried Serializing with Enums and it worked. Deserializing does not work with Enum. The only option I made available was use Emits.

The model being used is located here: https://github.com/danielwertheim/CompareJsonSerializers/tree/master/Source/CompareJsonSerializers/Model/Customer.cs

//Daniel

[2012-04-05 05:24] danielcrenna opened #16 "Can't deserialize GUIDs."
^^^^ that.

[2012-04-12 00:43] prabirshrestha opened #17 "use jakefile instead of rakefile"

[2012-04-12 01:07] prabirshrestha opened #18 "add .NET 4.5 csproj"

[2012-04-12 02:34] prabirshrestha opened #19 "include SimpleJson.psm1 as part of nuget pacakge"

[2012-04-12 02:48] prabirshrestha opened #20 "include README.md in nuget package"

[2012-04-14 16:47] ntotten commented on #20
Can we generate an HTML file maybe from the .md so it is formatted nicer in VS?

[2012-04-14 16:59] prabirshrestha commented on #20
Since we are now using node, we can find some npm modules or even plain javascript libraries to convert .md to html.

But i think only readme.txt is supported in v1.7. We might need to ping the nuget team to allow readme.html. It would really allow us to enable lots of cool stuffs with html.

[2012-04-14 17:12] ntotten commented on #20
ah. So for now, lets just include it as readme.txt as you said, but I think it would be nice to do html when nuget supports it.

[2012-04-15 04:52] prabirshrestha commented on #20
i created a new issue at nuget about support for readme.html which can be found at http://nuget.codeplex.com/workitem/2109

feel free to vote there

[2012-04-15 05:53] prabirshrestha commented on #16
Fixed in https://nuget.org/packages/SimpleJson/0.16.0-alpha

SimpleJson was meant to be simple as possible so we provide only few default type serialization. In the mean time we wanted to provide as much flexibility as possible. One of the core feature we wanted in SimpleJson was to customize the serialization/deserialization for your custom types. This is provided by implementing your own `IJsonS

[2012-04-15 05:53] #16 closed, assigned to prabirshrestha

[2012-04-15 05:54] prabirshrestha commented on #19
fixed in v0.16.0-alpha

it is now included in the root nuget package.

[2012-04-15 05:54] #19 closed, assigned to nobody

[2012-04-15 05:54] prabirshrestha commented on #17
jakefile is used starting from v0.16.0-alpha

[2012-04-15 05:54] #17 closed, assigned to nobody

[2012-04-15 06:02] prabirshrestha opened #21 "document about IJsonSerializerStrategy"
this would also require documenting `SimpleJson.ReflectionUtils`.

[2012-04-21 07:30] kerryjiang opened #22 "I cannot build SL5 project"
It said:

D:\Kerry\Workshop\SimpleJson\src\SimpleJson\SimpleJson.cs(1715,47): error CS1729: 'System.Reflection.Emit.DynamicMethod' does not contain a constructor that takes 5 arguments
D:\Kerry\Workshop\SimpleJson\src\SimpleJson\SimpleJson.cs(1773,21): error CS1729: 'System.Reflection.Emit.DynamicMethod' does not contain a constructor that takes 5 arguments
D:\Kerry\Workshop\SimpleJson\src\SimpleJ

[2012-04-21 07:35] prabirshrestha commented on #22
try cleaning the solution and building it again.

[2012-04-21 07:39] kerryjiang commented on #22
Still doesn't work.

-----Original Message-----
From: Prabir Shrestha
Sent: Saturday, April 21, 2012 3:35 PM
To: Kerry Jiang
Subject: Re: [simple-json] I cannot build SL5 project (#22)

try cleaning the solution and building it again.

---

Reply to this email directly or view it on GitHub:
https://github.com/facebook-csharp-sdk/simple-json/issues/22#issuecomment-5258748

[2012-04-21 09:14] prabirshrestha commented on #22
I randomly get the same error you get.

Make sure you don't have SimpleJson.cs file opened in the VS tab. close it and then clean all solution then build. It is an annoying bug in VS.

Or you can also use the build script

install node js, then execute `npm install -g jake`, then in command line type `jake build:sl5`

[2012-06-22 06:33] InsidiousForce commented on #16
are the strategies documented anywhere?

[2012-06-22 14:33] prabirshrestha commented on #16
Currently it is not documented you will need to see the code.

Only two strategies are provided out of the box Poco and DataContract most of which should be enough for your needs. If these are not enough then you will need to create your own. If it is something like guid then we will want this to be in the core. What type are you trying to serialize/deserialize?

[2012-06-22 16:18] InsidiousForce commented on #16
I'd like to for instance set up a data model for the result for say posts.
And then I'd like to have the data deserialized directly into these objects
instead of into a dynamic and then have to walk the dynamic and copy those
into a list of objects.

[2012-06-22 16:28] prabirshrestha commented on #16
You can use the following overload methods.

[code]

[2012-06-22 18:43] InsidiousForce commented on #16
Where? How? Right now when I do a facebook call I just get back a dynamic -
I don't have access to the raw json anywhere. Where do I override? I want to
call Deserialize<Post> in my case, but how to do this for the one call to
the FacebookSDK?

[2012-06-22 18:50] prabirshrestha commented on #16
I wouldn't recommend you to ask FB C# SDK stuffs here.

https://github.com/facebook-csharp-sdk/facebook-csharp-sdk/issues/140
https://github.com/facebook-csharp-sdk/facebook-csharp-sdk/pull/141

We never got the updated pull requests. Feel free to send one.

[2012-06-22 19:48] InsidiousForce commented on #16
thanks, I didn't realize this was an email back to post here.

[2012-08-06 17:56] prabirshrestha opened #23 "add support of IEqualityComparer<T> in JsonObject ctor"

[2012-09-10 01:42] prabirshrestha commented on #22
closing. cannot reproduce.

[2012-09-10 01:42] #22 closed, assigned to nobody

[2012-09-10 01:43] prabirshrestha commented on #18
added in v0.20.1-alpha

[2012-09-10 01:43] #18 closed, assigned to nobody

[2012-09-10 01:45] prabirshrestha commented on #1
closing. starting form v0.20.1-alpha SimpleJson does not use Reflection.Emit.

[2012-09-10 01:45] #1 closed, assigned to prabirshrestha

[2012-09-10 01:46] prabirshrestha commented on #2
will not implement DBNull. brings complexity and not I don't think portable library support it.

[2012-09-10 01:46] #2 closed, assigned to nobody

[2012-10-29 16:10] JanWosnitza commented on #15
There are 2 problems:
- Enums are serialized as doubles (in `PocoJsonSerializerStrategy.SerializeEnum( Enum p )`)
- Enums are deserialized as int64 which is not implicit castable to any enum (in `PocoJsonSerializerStrategy.DeserializeObject( object value, Type type )`)

I changed `PocoJsonSerializerStrategy.SerializeEnum( Enum p )` to

[code]

and changed the beginning of `PocoJsonSerializerStrate

[2012-10-29 16:21] prabirshrestha commented on #15
@JanWosnitza could you send a PR with unit tests.

[2012-10-30 09:09] JanWosnitza commented on #15
@prabirshrestha I will definitely do it! But may take same time.. :) (I am not used to Git(Hub) and [Fags]Enums and nullable ones would be nice to (in case the enum value is not available))

[2012-10-30 14:40] prabirshrestha commented on #15
you could use `ReflectionUtils` to check for nullable

[code]

[2012-12-02 17:02] prabirshrestha commented on #23
added ctor overload. `public JsonObject(IEqualityComparer<string> comparer)`

[2012-12-02 17:02] #23 closed, assigned to prabirshrestha

[2013-01-09 00:53] haacked opened #27 "Support naming strategies to map JSON to POCO and back"
The GitHub API uses Ruby casing for its JSON property names. For example:

[code]

But I'd like to still use proper .NET naming conventions on my POCO objects.

[code]

I looked at what it would take to implement an `IJsonSerializerStrategy` by simply inheriting from `PocoJsonSerializerStrategy`. The problem is there doesn't seem to be an easy hook to map JSON property names to CLR property names

[2013-01-09 01:32] prabirshrestha commented on #27
The main reason for us to have `IJsonSerializerStrategy` was to support this. But never landed up implementing in a clean way.

Definitely need to implement some variant of `CanAdd` found in `DataContractJsonSerializer`. https://github.com/facebook-csharp-sdk/simple-json/blob/261f26937173bf263825e8500f5b6f2055514ccf/src/SimpleJson/SimpleJson.cs#L1479-L1489

Currently the only way is to use. `#defi

[2013-01-09 02:16] haacked commented on #27
The RestSharp approach looks good. I always try to advocate composition over inheritance as a solution. The mapping is a separate concern and could be fine as a class or a simple Func.

Do you think this is worthwhile and something you'll get to this soon? If not, I can work on it tonight or tomorrow. But I'd love for you to review my other PR first since I'd like to base this work off that code.

[2013-01-09 03:25] prabirshrestha commented on #27
might need to use delegates as we need to support .net 2.0

RestSharp actually does use SimpleJson internally (https://github.com/restsharp/RestSharp/commit/f9623544c444ab5b4488756734a49a0a3e5ddcba) so should be able to port it easily.

due to my cast in the hand typing with one hand is very difficult. you could work on a PR for it :)

[2013-01-12 01:12] #27 closed, assigned to nobody

[2013-03-10 04:32] jamesiq commented on #15
I struggled to make this work as described, but was able to borrow from it after dropping the latest build into my project.

Starting around line 1285:  I simply inserted part of the above solution at line 1301:  as demonstrated below.  Hopefully this helps someone!!!  Thanks again rock stars of awesome sauce, -James

1285:     [SuppressMessage("Microsoft.Maintainability", "CA1502:AvoidExcessiveCo

[2013-03-11 14:33] prabirshrestha commented on #15
would be great if you can send a PR with unit tests.

[2013-04-25 05:55] agillesp commented on #15
I did this instead:

[code]

[2013-04-25 14:13] prabirshrestha commented on #15
@agillesp does that handle nullables?

[2013-04-25 14:23] agillesp commented on #15
Almost certainly not - I doubt the "type.IsEnum" will report true if it's a nullable.  My usecase doesn't have any nullable enum properties to serialize so I didn't bother.  However, it should be easy to fix.  You'll have to do a little more inspection into the type and then handle a null "value" argument appropriately.

[2013-04-25 14:40] prabirshrestha commented on #15
if you can write a unit test and send us a pull request it would be great.

[2013-04-25 14:45] agillesp commented on #15
Well, unfortunately, I'm not too plugged into github's workflow and am not even sure how to do a pull request.  I guess I fork, add my code, then do something?  Also, this is not a platform fix, this is an additional serialization policy; right now the onus is on the developer whether to use the EnumSupportedStrategy.  Though I suppose I could fix PocoJsonSerializerStrategy directly.

[2013-04-25 14:51] prabirshrestha commented on #15
fork the repo and create a new branch. I would love this to go in PocoJsonSerializerStrategy. and It should work with the DataContract one too.

NancyFX has a good guidelines on contributing. https://github.com/NancyFx/Nancy/blob/master/CONTRIBUTING.md You might want to look there.

Also remember the unit tests. Try sending the PR to our "dev" branch if possible.

[2013-04-26 00:30] agillesp commented on #15
Well I'm happy to give back when I can.  Just like everyone else who's a developer I'm plenty busy.  But if I find the time this weekend I'll give it a shot.

[2013-04-30 08:55] JanWosnitza commented on #15
I had some thoughts on this issue again. In the case you don't know all possible (enum-)values, it would be best to deserialize the enum as a string and make a wrapping property that is able to indicate an unknown value. This would allow you to output the actual value even though you didn't know it exists but also have the convenience of an enum.

[code]

@prabirshrestha I would love to extend thi

[2013-04-30 14:17] prabirshrestha commented on #15
@JanWosnitza try it with normal non-portable reference. I don't think there will be much difference. Before I merge, I can test if it works with portable lib.

[2013-04-30 14:58] agillesp commented on #15
@JanWosnitza I really can't understand what you're driving at here?  From the perspective of the deserializer, aren't ALL enum values unknown (it has no knowledge of your model)?  Now if you're speaking about a case where a value exists in the serial string, say "FakeValue", and this doesn't exist in the enum:

[code]

Is this what you're talking about?  In this case, wouldn't it just be best to t

[2013-05-02 09:35] JanWosnitza commented on #15
@prabirshrestha k, will try so. Next week.. ;)

@agillesp yes, that was my intended situation (forgot to give an example with e.g. "UnexpectedError"). And yes an exception should be thrown if you deserialize the enum directly. Nevertheless if you want to know if a value has value1 or value2 and don't care with all other values, you really want to let the serializer finish and get your model return

[2013-05-15 10:36] albertjan opened #30 "Deserialize to an f# record"
[code]

A record does not have a constructor so it throws an exception.

But it can be made with `FSharpValue.MakeRecord()`

[2013-07-04 18:07] prabirshrestha opened #32 "remove use of IConvertible so it works with portable libraries."
Remove the `#if` part and always use the way it is done in `NETFX_CORE`.

[code]

Seems like portable library update broke something again or it breaks when targeting wp8, metro and net 4.5 as PCL.

[2013-07-10 03:29] prabirshrestha commented on #30
PR would be awesome for this.

[2013-08-01 13:50] jonnii commented on #15
I know this thread is seriously old, but if someone comes along and wants support for enums the following has worked for me:

[code]

[2013-08-15 14:44] hjvdwijk opened #34 "date formats"
Hi,

The library works very well. I had to make a tiny adjustment and added 2 date formats. Web.API converts SQL datetime and DateTime.Now in a string format that currently is not recognized. The following datatime format fixed this problem

[code]

[2013-08-15 14:48] prabirshrestha commented on #34
Would you mind sending a PR with unit tests.
Note: We will only merge the formats that confirms with ISO8601 format.

[2013-08-15 22:20] prabirshrestha commented on #32
fixed in v0.26.0

[2013-08-15 22:20] #32 closed, assigned to nobody

[2013-09-09 14:34] hackedd opened #37 "TargetParameterCountException deserializing Generic List (.NET 2.0)"
When deserializing a Generic List (as in the example below), SimpleJson throws `TargetParameterCountException` when the Target framework for the Project is set to .NET 2.0.

[code]

I think the problem is caused by `ContructorDelegateFactory` in `SimpleJson.PocoJsonSerializerStrategy` which calls [`ReflectionUtils.GetContructor`](https://github.com/facebook-csharp-sdk/simple-json/blob/master/src/S

[2013-09-09 21:41] haacked opened #38 "Deserialize lists that directly implement list interfaces"
This is related to #36.

I wondered what would happen if you manually implemented a list like so:

[code]

Turns out that fails to deserialize even if the list is a property of another object. The reason is in [this code](https://github.com/facebook-csharp-sdk/simple-json/blob/master/src/SimpleJson/SimpleJson.cs#L1396):

Specifically this clause:

[code]

`ICollection<T>` and `IList<T>` do not imp

[2013-09-09 21:52] hackedd opened #39 "Unable to deserialize structs"
SimpleJson is unable to deserialize a struct because it can not contain an explicit parameterless constructor. For example:

[code]

Will throw a `NullReferenceException` when trying to invoke the constructor in [`PocoJsonSerializerStragegy.DeserializeObject`](https://github.com/facebook-csharp-sdk/simple-json/blob/master/src/SimpleJson/SimpleJson.cs#L1368)

[2013-09-10 05:04] prabirshrestha commented on #38
I would personally be fine with merging it in (especially if it is just few changes to the codebase).

But I don't see any reason why someone would want to implement `IList<T>`. (SimpleJson is really meant to do simple things. POCOs should be enough. With .NET extension methods one can easily sort of extend `IList<T>`.)

If you do run into a situation where you might need it, let us know and we ca

[2013-09-10 05:07] prabirshrestha commented on #39
Any reason why you want to use structs?

The core reason we never supported `structs` was coz SimpleJson was focused primarily on passing json around http and most c# devs would just go with classes. If you are using SimpleJson for other features let us know and we can look into it. In the mean time feel free to send a PR.

[2013-09-10 05:26] prabirshrestha commented on #37
This bug seems to affects .net 4.0 too.

Seems like we have tests for `int[]` and `List<CustomObject>` but not for `List<int>` when T is of primitive types.
https://github.com/facebook-csharp-sdk/simple-json/blob/master/src/SimpleJson.Tests/PocoDeserializerTests/ArrayTests.cs
https://github.com/facebook-csharp-sdk/simple-json/blob/master/src/SimpleJson.Tests/PocoDeserializerTests/ListOfPocoDeseria

[2013-09-10 06:09] haacked commented on #38
Maybe they're not the ones implementing it. Suppose you have an object with a property of type [`IPAddressCollection`](http://msdn.microsoft.com/en-us/library/system.net.networkinformation.ipaddresscollection.aspx).

Now, I don't have this problem and I think 99% of folks won't, so I'm happy to ignore this until someone asks for it. :)

[2013-09-10 08:48] hackedd commented on #39
In this case I'd want to use a `struct` because a point represents a single value (similar to a primitive type), and it makes sense to use a value type. However, changing the code to use a `class` instead is of course trivial.

I'll see if I can work out how to instantiate `structs`.

[2013-09-25 14:09] eduardocampano opened #40 "Support serialization of Newtonsoft JSON.NET JObject"
As the Newtonsoft JSON.NET JObject implements IEnumerable it is treated as an array for serialization instead of being serialized directly.

My issue came up in the following case: ASP.NET WebApi used JSON.NET to deserialize a complex JSON object during an API request. The deserialized type contains an `IDictionary<string, object>` property to allow custom info to be sent to the API. As part of th

[2013-09-25 14:58] prabirshrestha commented on #40
can u post a sample code of class and json you are trying to serialize/deserialize.

[2013-09-25 16:02] eduardocampano commented on #40
I just pushed 2 failing unit tests to my fork
https://github.com/eduardocampano/simple-json/blob/f7f9238820b21663b7e38acb8fb66eb7b57c0e72/src/SimpleJson.Tests/SerializeObject.JsonNet.Tests.cs
I tried using TrySerializeNonPrimitiveObject in the IJsonSerializerStrategy but the code tries to serialize them as arrays because they implement IEnumerable.

[2013-09-25 18:08] prabirshrestha commented on #40
Why would you want to use both at the same time in the same code? The only place where you would want to use both at the same place would be server side using webapi and in client use simplejson.

[2013-09-25 18:26] eduardocampano commented on #40
In this case I'm building a logging library which serializes objects using SimpleJson. A consumer of this library is using WebApi with the default Json.Net serializer and sending the objects to log to my library. For now I provided him a SimpleJsonFormatter for WebApi and it solved the particular issue. But I would not like to force the library consumers to make this kind of changes. Maybe the sol

[2013-09-25 19:42] prabirshrestha commented on #40
You might be interested in this discussion. https://twitter.com/PrabirShrestha/status/271392381226590209

Since `JObject` is `IDictionary<string, JToken>` we might need to check if it contains `IDictionary<string, TAnything>` then treat it as a json object. Or just try to cast it as `IDictionary`. Not sure if this works in all version of PCL.

[2013-09-25 20:14] eduardocampano commented on #40
Right, that could help, I will give that a try, thanks

[2013-11-16 02:09] shiftkey opened #42 "Immutable Collections - anyone else *need* this?"
[Octokit.NET](github.com/octokit/octokit.net) uses SimpleJson heavily, and with the license changes to Microsoft.Bcl.Immutable we can now use the System.Collections.Immutable namespaces rather than our custom implementations

BUT

There's a whole bunch of changes to how you can create ImmutableColllections (that is, the concrete implementations of IImmutableCollection) that break existing assumpti

[2013-11-16 18:11] prabirshrestha commented on #42
I would definitely be interested in getting this in the core.
- Since `IImmutableDictionary` requires new references, we would need an option to disable/enable it. (Default should be disabled). Would need something like `#define SIMPLE_JSON_IMMUTABLE_COLLECTIONS`.
- Also we can't use `vars` :( as we need to support the ISO-2 C# lang spec.
- Any reflection utils changes should go in this [reflectio

[2013-11-17 01:32] shiftkey commented on #42
@prabirshrestha i'll also be around for MVP summit. It's not urgent, but I'll keep that feedback in mind...

[2013-11-17 05:25] prabirshrestha commented on #42
@shiftkey cool. we should meet. feel free to ping me on twitter. same username as github.

[2014-01-13 02:22] lostsnow opened #43 "deserialize a invalid json format(with number beginning) string unexpected"
#### Reproduce code:

[code]
#### Expected result:

throw Invalid JSON string Exception
#### Actual result:

2

[2014-01-13 04:03] prabirshrestha commented on #43
good catch. can u send a PR with failing unit test and fix if possible.

Seems like `var s1 = "{\"a\":2a}";` and `var s2 = "[2a]";` throws the json exception but not `var s = "2a";`.

The fix can be added to this line. https://github.com/facebook-csharp-sdk/simple-json/blob/e2528f3776b2e280c135ab92b4b4ca447f891b9c/src/SimpleJson/SimpleJson.cs#L548

If the `index` is less then `charArray.Length` me

[2014-01-21 16:53] Terricide commented on #37
I fixed the issue for my project by modifying the code below. Adding the following to the GetConstructorInfo

[code]

[2014-01-21 16:56] prabirshrestha commented on #37
@Terricide can u send a PR. You will first need to send a PR to the reflection-utils project. https://github.com/facebook-csharp-sdk/reflection-utils

[2014-02-27 07:36] haacked opened #46 "Regression in SimpleJson 0.32.0"
I tried to upgrade to 0.32.0 but found a regression.

Check out the unit test in Octokit.net here: https://github.com/octokit/octokit.net/blob/master/Octokit.Tests/Models/CommitTests.cs#L11-L71

That used to pass with 0.30.0. But with 0.32.0 it fails.

It seems to have ommitted the `Sha` and `Url` properties on `Commit` itself.

[2014-02-27 14:44] prabirshrestha commented on #46
The only thing that was added in 0.32.0 was `SIMPLE_JSON_READONLY_COLLECTIONS`. Is the test failing when that is enabled or disabled?

[2014-02-27 17:35] haacked commented on #46
OH! I wonder if we should have OR'd that with `NET_45`. Because folks upgrading won't have this defined in _their_ projects.

[2014-02-27 17:41] haacked commented on #46
So my proposal is on line 1655:

[code]

If you agree, I can send a PR.

[2014-02-27 18:42] prabirshrestha commented on #46
@Haacked seems like this only affects metro apps (haven't tried the phones yet).

Creating a brand new .net 4.5 project and running the test does pass, but creating a metro app and running doesn't pass. Seems like the xunit is running the metro build and thus failing.

will look into it later tonight.

[2014-02-27 19:17] prabirshrestha commented on #46
We currently don't use the flag `NET_45`. We use feature test rather then framework version test like in javascript. Test for data contact (`SIMPLE_JSON_DATACONTRACT`), type info (`SIMPLE_JSON_TYPEINFO`), linq expressions (`SIMPLE_JSON_NO_LINQ_EXPRESSION`). This allows to support new .net versions/fwk very easily.

The only exception we have is with `NETFX_CORE` which is converted to feature test.

[2014-02-28 00:07] prabirshrestha commented on #46
@Haacked can you test octokit.net with this patch https://github.com/facebook-csharp-sdk/simple-json/pull/47

[2014-02-28 00:22] haacked commented on #46
Seems to work

On Thu, Feb 27, 2014 at 4:07 PM, Prabir Shrestha
notifications@github.comwrote:

[2014-03-13 01:21] prabirshrestha commented on #46
fixed in v0.36.0 by #49

[2014-03-13 01:21] #46 closed, assigned to nobody

[2014-03-19 17:46] ejsmith opened #52 "Open to new serializer features?"
I would like to implement the ability to do the following things while serializing objects:
1. Exclude fields that are using default values. I know some people will want to include these fields, but for my use case I would rather only serialize the minimum about of data necessary.
2. Exclude empty collections. Same reasoning as above.
3. Add ability to set maximum serialization depth. I would like

[2014-03-29 15:01] prabirshrestha commented on #52
All the features are pretty interesting and seems like good to have in SimpleJson but I also don't want to increase the complexity of SimpleJson.

Out of curiosity I would want to know what you are using SimpeJson for (client/server or any other details)?

[2014-04-04 20:53] ejsmith commented on #52
I am using it to serialize random unknown objects in our [Exceptionless](https://github.com/exceptionless/Exceptionless) client. I need to be able to allow people to set exclusions and also to set serialization depth.

I started taking a look at implementing this, but, because the entire code base is static, there doesn't appear to be a way to keep track of the current serialization depth without

[2014-04-07 15:38] prabirshrestha commented on #52
@ejsmith totally makes sense to add SerializationDepth in your case.

This was originally a fork from a different json parser library written in .NET 1.0 using hashtables and arraylist without generics, so definitely needs a lot of work on the api surface. Also one of the main reason why SimpleJson hasn't made it to v1 release is due to fact that I haven't been happy with the public api yet.

I do

[2014-04-08 14:35] NathanBaulch opened #53 "Deserialize anonymous types"
I've written a serializer strategy that supports deserializing anonymous types and thought I'd share the code here for anyone who's interested. Anonymous types are immutable, with all property values passed in via constructor parameters. The strategy detects the absence of a default (parameterless) public constructor and builds the necessary cached ConstructorDelegate to create and populate the ou

[2014-04-08 14:40] NathanBaulch opened #54 "Con[s]tructor?"
There are 5 instances of the misspelled word "contructor".

[2014-04-08 14:50] prabirshrestha commented on #54
feel free to send a PR.

[2014-04-09 05:25] eduardocampano commented on #40
Ok, I'm back on this after a while, casting as `IDictionary` doesn't work because `IDictionary<,>` does not implement it. I came up with this function

[code]

It will check if the type to be serialized is an `IEnumerable<KeyValuePair<string, TAnything>>` so it can be treated as json object as you suggest. The current checks for `IDictionary<string, object>` and `IDictionary<string, string>` won't

[2014-04-09 21:35] eduardocampano opened #55 "Why is EscapeToJavascriptStringTests.cs included in SimpleJson-Net20.csproj?"
The solution doesn't build for me. It was added in this commit https://github.com/facebook-csharp-sdk/simple-json/commit/25f63e0d340374d75f36aebb033cbb84c48b1778. Should I send a PR?

[2014-04-09 21:40] prabirshrestha commented on #55
@eduardocampano feel free to send a PR. That should had been included in the test project.

[2014-04-28 16:39] ghost opened #57 "Class named the same as its Namespace"
Hello,

Thank you for a really great project. One minor issue that I have is that in this project, there is a static class named `SimpleJson` which resides in a namespace which is also called `SimpleJson`.

Please consider changing the name of that class or the namespace as this is considered a major design faux-pas. Eric Lippert - one of the principle developers on the C# compiler team, has writt

[2014-05-01 18:46] ghost opened #58 "Minor bug with ambiguous JSON keys"
There is a minor bug with simple-json poco deserialization when a JSON key can either hold an object or an array. For an instance of this, see [these JSON-RPC specifications](http://www.jsonrpc.org/specification#parameter_structures) regarding the "params" key of their JSON Request object. The specifications state that:

For this type of JSON schema, I define my poco data class like this:

[code]

[2014-05-01 18:57] ghost opened #59 "Superfluous variable in DeserializeObject"
The `jsonObject` variable declared on [Line 1398 of SimpleJson.cs](https://github.com/facebook-csharp-sdk/simple-json/blob/master/src/SimpleJson/SimpleJson.cs#L1395-L1398) is superfluous because it is only being used as a reference to the `objects` variable.

To fix this, the `objects` variable could be renamed to `valueAsIDict` and the declaration of `jsonObject` on line 1398 could be removed.

(

[2014-05-01 20:25] ghost commented on #59
Sorry for not making a pull request yet, I may do so at some point in the future.

[2014-05-02 05:38] prabirshrestha commented on #58
can you start by sending a breaking unit test as a PR.

[2014-05-19 03:50] Esam-Bustaty commented on #57
I have to say that this is an important point, now it's useless to add `using SimpleJson;` in the top of the file, and it's ugly to write `SimpleJson.SimpleJson.SerializeObject()`.

I think also that the class name is redundant, `SimpleJson` is the name of the library, so giving this name to the namespace is a good idea, but the class `SimpleJson` should be named something that reflects what it ac

[2014-05-19 04:04] prabirshrestha commented on #57
closing as won't fix.

If you install using nuget, the namespace is not SimpleJson and is same as your project namespace.
If you are not using nuget, you need to manually change it.

https://github.com/facebook-csharp-sdk/simple-json/blob/master/jakefile.js#L264-L276

Here are some examples:

https://github.com/facebook-csharp-sdk/facebook-csharp-sdk/blob/4035d1ff5379ee50ed8d4aaf252b8b583fd531fa/S

[2014-05-19 04:04] #57 closed, assigned to nobody

[2014-05-21 00:29] Esam-Bustaty commented on #34
I think we also need the format `yyyy-MM-dd` which is allowed in ISO8601 as calendar date (date only).

[2014-05-21 22:19] prabirshrestha commented on #34
@Esam-Bustaty feel free to send a PR with tests.

[2014-10-01 19:06] Kordonme commented on #15
To repeat @jonnii. This is way too old now. But I managed to build enum support. I'm not really sure how to write the tests. Honestly, I only forked. Haven't opened sln yet. But is this fixed in the `SimpleJson.cs`? Is it still a wanted feature?

[2014-10-02 05:47] prabirshrestha commented on #15
@Kordonme send a PR for at least the SimpleJson.cs and I will have a look at it.

[2015-06-19 21:14] hallem opened #68 "Still being maintained?"
@prabirshrestha are you still maintaining this?

[2015-06-19 22:16] prabirshrestha commented on #68
It is being maintained. Just that I don't have much time to look at it thoroughly. Hence only accepting major bugs. It still ships with Facebook C# SDK.

[2015-06-20 19:44] ghost commented on #58
Closing issues on projects that don't seem to have a maintainer.

[2015-06-20 19:44] #58 closed, assigned to nobody

[2015-06-20 19:44] ghost commented on #59
Closing issues on projects that don't seem to have a maintainer.

[2015-06-20 19:44] #59 closed, assigned to nobody

[2015-06-22 17:04] #68 closed, assigned to nobody

[2016-04-26 19:46] amccorma opened #71 "Serialize and deserialize Enum values"
fix enums to serialize and deserialize from string and integers

[2016-06-21 02:27] xiaolu6t opened #74 "add commit to json,bugs"
{
  //Current UrlPrefix
  "urlPrefix": "/App",
  //Current Module CookiePrefix
  "cookiePrefix": "App_",
  //Current Module SessionPrefix
  "sessionPrefix": "App_",
}
SimpleJson.DeserializeObject(json);//bugs here!

[2016-06-21 19:02] prabirshrestha commented on #74
@xiaolu6t did you mean comment? If so we have no plans to support comment since it is not part of json spec.

[2016-06-22 01:01] sicklittlemonkey commented on #52
I added pretty printing in about 25 lines. It would be nice if that was a serialization option too.

[2016-12-23 07:10] prabirshrestha commented on #74
no plans to add this as it is not part of the spec

[2016-12-23 07:10] #74 closed, assigned to nobody

[2017-03-30 03:12] #7 closed, assigned to prabirshrestha

[2017-03-30 11:32] Deepscorn commented on #71
This pull requested is related https://github.com/facebook-csharp-sdk/simple-json/pull/64

[2017-04-05 14:59] Deepscorn opened #77 "DataContract serialization of enum member to/from string"
What I mean:

[code]
Suppose, we have following instance of Animal:
new Animal() { Keeper = "Mary Rose, Color = "red" }

I uncomment
[code]
to make DataContract/DataMember attributes used in serialization.

Expecting serialized result:
{ "animal keeper" : "Mary Rose", "animal color" : "red" }

Actual result
{ "animal keeper" : 1, "animal color" : "red" }

PS I came from java and there we successfu

[2017-06-05 04:47] lostmsu commented on #15
All the suggested solutions ignore https://msdn.microsoft.com/en-us/library/system.runtime.serialization.enummemberattribute

[2017-07-17 12:59] hardcodet opened #78 "Some deserialization workarounds (DateTime, Enum, Lists)"
Since the lib doesn't seem to be supported anymore, here's a few fixes and workarounds I added to get me going to deserialize some simple DTOs that were created through Json.net:

### DateTime/DateTimeOffset parsing

The format used by Json.net caused me exceptions when trying to deserialize them. I replaced the DateTime/DateTimeOffset parsing as follows, which makes Json.net's IsoDateTimeConverte

[2018-02-01 20:19] ygoe opened #79 "Serialize in a friendly format"
Serialization always seems to produce a single line of JSON content. While this may de desirable for network transfers towards machines, it's not useful for writing JSON files that should be readable by humans. Is it possible to format the serialized string with multiple lines, like for example XmlWriterSettings allows it for XML?

Instead of this

    {"key":["value1","value2"]}

I'd like to see

[2018-02-01 20:33] ygoe opened #80 "Dictionaries are not serialized properly"
Deserialize this JSON

    {
      "profiles": {
        "production": {
          "host": "localhost",
          "username": "root"
        }
      }
    }

into this class

    class File
    {
        public Dictionary<string, Profile> profiles { get; set; }
    }
    class Profile
    {
        public string host { get; set; }
        public string username { get; set; }
    }

and you get a d

[2018-05-24 15:25] dhutapratama opened #82 "Deserialize dynamic format issue"
Hello,

I was try to deserialize json data to dynamic format by wiki documentation but always fail.
and then i have an idea to change the format back to JsonObject and working.

**Your Wiki Reference**
Deserialize JSON String
Using dynamic

dynamic json = SimpleJson.DeserializeObject(data);
string firstName = json.first_name;
DateTime startDate = json.startDate
int voteCount = json.voteCount
List<

[2018-08-24 09:10] mrpmorris opened #83 "Using private constructors and deserializing properties with private setters"
I have objects that are immutible but I want to be able to deserialize instances.

If I submit a pull-request that allows the user to optionally specify that private parameterless constructors may be used, and the setting of properties with private setters, would this be considered for inclusion or is this something you wouldn't be prepared to allow?

PS: It's the pattern EntityFramework-Core uses

[2019-04-26 00:15] rooseveltdossantos opened #84 "jake build error"
Hello!

I can't run **jake build** in the release **0.36.0**.

The error is:

"C:\...\SimpleJson-Net40.csproj" (Build target) (1) ->
(_CheckForInvalidConfigurationAndPlatform target) ->
  C:\Windows\Microsoft.NET\Framework\v4.0.30319\Microsoft.Common.targets(609,5): error : The **OutputPath** property is not set for project **'SimpleJson-Net40.csproj'**.  Please check to make sure that you have sp

[2020-04-17 11:46] ghost commented on #78
**List instantiation handling:**

Alternatively you can update ContructorDelegateFactory to check whether the type is an IList:

    internal virtual ReflectionUtils.ConstructorDelegate ContructorDelegateFactory(Type key)
    {
        bool isArray = key.IsArray || typeof(IList).IsAssignableFrom(key);
        return ReflectionUtils.GetContructor(key, isArray ? ArrayConstructorParameterTypes : Empt

[2021-01-30 09:28] StefH opened #86 "Any plans to continue development and accept PR's?"
Hello developers,

And there any plans to continue this project and accept PR's and do bugfixes ?
Or is this project 'archived' ?

[2021-08-15 17:54] GTANAdam commented on #86
I'm interested as well

[2022-08-14 07:29] StefH commented on #86
In case someone is interested, I started a new project https://github.com/StefH/JsonConverter which has a generic json interface which is implemented by newtonsoft.json, system.text.json and simplejson.